.single-gallery-view {
	z-index: 999 !important;
	background-color: rgba(0, 0, 0, .8) !important;
}

.single-gallery-view .single-gallery-container {
	max-width: 1200px;
}

.single-gallery-view .image-gallery-image {
	max-height: 700px;
}

.single-gallery-view .gallery-heading {
	color: white;
	font-size: 48px;
	padding-bottom: 40px;
}