.single-gallery-view {
	z-index: 999 !important;
	background-color: rgba(0, 0, 0, .85) !important;
}

.single-gallery-view .single-gallery-container {
	width: 100%;
	margin: 0 60px;
	max-width: 800px;
}

.single-gallery-view .image-gallery-image {
	max-height: 700px;
}

.single-gallery-view .gallery-heading {
	color: white;
	font-size: 48px;
	padding-bottom: 40px;
}